<!-- <div  routerLinkActive="router-link-active"  class="page-loading">

  <img src="../../assets/uitemplate/images/loader.gif" alt="" />
</div> -->
<script>
function validateEmail(email) {
  var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return re.test(email);
}

function validate() {
  var $result = $("#result");
  var email = $("#email").val();
  $result.text("");

  if (validateEmail(email)) {
    $result.text(email + " is valid :)");
    $result.css("color", "green");
  } else {
    $result.text(email + " is not valid :(");
    $result.css("color", "red");
  }
  return false;
}

$("#validate").bind("click", validate);

</script>





<div class="theme-layout" id="scrollup">

	<div class="responsive-header">
		<div class="responsive-menubar">
        <div class="logo">
            <a  title=""><span style="font-size: 40px;color: white;font-family:cursive;">My Job</span><span style="font-size: 20px;color: white;font-family:cursive;">.com</span></a>
          </div><!-- Logo -->

			<div class="menu-resaction">
				<div class="res-openmenu">
					<img src="../../assets/uitemplate/images/icon.png" alt="" /> Menu
				</div>
				<div class="res-closemenu">
					<img src="../../assets/uitemplate/images/icon2.png" alt="" /> Close
				</div>
			</div>
		</div>
		<div class="responsive-opensec">
			<div class="btn-extars">
				<!-- <a href="#" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a> -->
				<ul class="account-btns">
					<li class="signup-popup"><a title=""><i class="la la-key"></i> Sign Up</a></li>
					<li class="signin-popup"><a title=""><i class="la la-external-link-square"></i> Login</a></li>
				</ul>
			</div><!-- Btn Extras -->
			<form class="res-search">
				<input type="text" placeholder="Job title, keywords or company name" />
				<button type="submit"><i class="la la-search"></i></button>
			</form>
			<div class="responsivemenu">
				<ul>
						<li class="menu-item-has-children">
							<a [routerLink]="['']" routerLinkActive="router-link-active" title="">Home</a>

						</li>
						<li class="menu-item-has-children">
							<a title="">Employers</a>
							<ul>
								<li><a [routerLink]="['/browseallcompany']" routerLinkActive="router-link-active"  title=""> all companies</a></li>
								<!-- <li><a href="employer_list2.html" title="">Employer Li</a></li>
								<li><a href="employer_list3.html" title="">Employer List 3</a></li>
								<li><a href="employer_list4.html" title="">Employer List 4</a></li>
								<li><a href="employer_single1.html" title="">Employer Single 1</a></li>
								<li><a href="employer_single2.html" title="">Employer Single 2</a></li>
								<li class="menu-item-has-children">
									<a href="#" title="">Employer Dashboard</a>
									<ul>
										<li><a href="employer_manage_jobs.html" title="">Employer Job Manager</a></li>
										<li><a href="employer_packages.html" title="">Employer Packages</a></li>
										<li><a href="employer_post_new.html" title="">Employer Post New</a></li>
										<li><a href="employer_profile.html" title="">Employer Profile</a></li>
										<li><a href="employer_resume.html" title="">Employer Resume</a></li>
										<li><a href="employer_transactions.html" title="">Employer Transaction</a></li>
										<li><a href="employer_job_alert.html" title="">Employer Job Alert</a></li>
										<li><a href="employer_change_password.html" title="">Employer Change Password</a></li>
									</ul>
								</li> -->
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a title="">Candidates</a>
							<ul>
								<li><a [routerLink]="['/allcandidates']" routerLinkActive="router-link-active"  title="">Our candidates</a></li>
								<!-- <li><a href="candidates_list2.html" title="">Candidates List 2</a></li>
								<li><a href="candidates_list3.html" title="">Candidates List 3</a></li>
								<li><a href="candidates_single.html" title="">Candidates Single 1</a></li>
								<li><a href="candidates_single2.html" title="">Candidates Single 2</a></li>
								<li class="menu-item-has-children">
									<a href="#" title="">Candidates Dashboard</a>
									<ul>
										<li><a href="candidates_my_resume.html" title="">Candidates Resume</a></li>
										<li><a href="candidates_my_resume_add_new.html" title="">Candidates Resume new</a></li>
										<li><a href="candidates_profile.html" title="">Candidates Profile</a></li>
										<li><a href="candidates_shortlist.html" title="">Candidates Shortlist</a></li>
										<li><a href="candidates_job_alert.html" title="">Candidates Job Alert</a></li>
										<li><a href="candidates_dashboard.html" title="">Candidates Dashboard</a></li>
										<li><a href="candidates_cv_cover_letter.html" title="">CV Cover Letter</a></li>
										<li><a href="candidates_change_password.html" title="">Change Password</a></li>
										<li><a href="candidates_applied_jobs.html" title="">Candidates Applied Jobs</a></li>
									</ul>
								</li> -->
							</ul>
						</li>
						<!-- <li class="menu-item-has-children">
							<a href="#" title="">Blog</a>
							<ul>
								<li><a href="blog_list.html"> Blog List 1</a></li>
								<li><a href="blog_list2.html">Blog List 2</a></li>
								<li><a href="blog_list3.html">Blog List 3</a></li>
								<li><a href="blog_single.html">Blog Single</a></li>
							</ul>
						</li> -->
						<!-- <li class="menu-item-has-children">
							<a  title="">Job</a>
							<ul>
								<li><a href="job_list_classic.html">Job List Classic</a></li>
								<li><a href="job_list_grid.html">Job List Grid</a></li>
								<li><a href="job_list_modern.html">Job List Modern</a></li>
								<li><a href="job_single1.html">Job Single 1</a></li>
								<li><a href="job_single2.html">Job Single 2</a></li>
								<li><a href="job-single3.html">Job Single 3</a></li>
							</ul>
            </li> -->
            <li><a [routerLink]="['/contactUs']" routerLinkActive="router-link-active"  title="">Contact Us</a></li>
            <li><a [routerLink]="['aboutUs']" routerLinkActive="router-link-active"  title="">About Us</a></li>
						<!-- <li class="menu-item-has-children">
							<a href="#" title="">Pages</a>
							<ul>

								<li><a href="404.html" title="">404 Error</a></li>
								<li><a href="contact.html" title="">Contact Us 1</a></li>
								<li><a href="faq.html" title="">FAQ's</a></li>
								<li><a href="how_it_works.html" title="">How it works</a></li>
								<li><a href="login.html" title="">Login</a></li>
								<li><a href="pricing.html" title="">Pricing Plans</a></li>
								<li><a href="register.html" title="">Register</a></li>
								<li><a href="terms_and_condition.html" title="">Terms & Condition</a></li>
							</ul>
						</li> -->
					</ul>
			</div>
		</div>
	</div>

  <header class="stick-top forsticky">
		<div class="menu-sec">
			<div class="container">
          <div class="logo">
              <a  title=""><span style="font-size: 40px;color: white;font-family:cursive;">My Job</span><span style="font-size: 20px;color: white;font-family:cursive;">.com</span></a>
            </div><!-- Logo -->

				<div class="btn-extars">
					<a  routerLinkActive="router-link-active"  title="" class="post-job-btn signin-popup"><i class="la la-plus"></i>Post Jobs</a>
					<ul class="account-btns">
						<li class="signup-popup"><a title=""><i class="la la-key"></i> Sign Up</a></li>
						<li class="signin-popup"><a title=""><i class="la la-external-link-square"></i> Login</a></li>
					</ul>
				</div><!-- Btn Extras -->
				<nav>
					<ul>
						<li>
							<a [routerLink]="['']" routerLinkActive="router-link-active" title="">Home</a>

						</li>
						<li class="menu-item-has-children">
							<a  title="">Employers</a>
							<ul>
								<li><a [routerLink]="['/browseallcompany']" routerLinkActive="router-link-active"  title="">allcompany</a></li>
								 <!-- <li><a [routerLink]="['/recruiter-profile']" routerLinkActive="router-link-active"  title="">Employer List 2</a></li> -->
								<!--<li><a href="employer_list3.html" title="">Employer List 3</a></li>
								<li><a href="employer_list4.html" title="">Employer List 4</a></li>
								<li><a href="employer_single1.html" title="">Employer Single 1</a></li>
								<li><a href="employer_single2.html" title="">Employer Single 2</a></li>
								<li class="menu-item-has-children">
									<a href="#" title="">Employer Dashboard</a>
									<ul>
										<li><a href="employer_manage_jobs.html" title="">Employer Job Manager</a></li>
										<li><a href="employer_packages.html" title="">Employer Packages</a></li>
										<li><a href="employer_post_new.html" title="">Employer Post New</a></li>
										<li><a href="employer_profile.html" title="">Employer Profile</a></li>
										<li><a href="employer_resume.html" title="">Employer Resume</a></li>
										<li><a href="employer_transactions.html" title="">Employer Transaction</a></li>
										<li><a href="employer_job_alert.html" title="">Employer Job Alert</a></li>
										<li><a href="employer_change_password.html" title="">Employer Change Password</a></li>
									</ul>
								</li> -->
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a title="">Candidates</a>
							<ul>
								<li><a [routerLink]="['/allcandidates']" routerLinkActive="router-link-active" title="">Our candidates</a></li>
								 <!-- <li><a [routerLink]="['/employee-profile']" routerLinkActive="router-link-active"  title="">Candidates List 2</a></li> -->
								<!--<li><a href="candidates_list3.html" title="">Candidates List 3</a></li>
								<li><a href="candidates_single.html" title="">Candidates Single 1</a></li>
								<li><a href="candidates_single2.html" title="">Candidates Single 2</a></li>
								<li class="menu-item-has-children">
									<a href="#" title="">Candidates Dashboard</a>
									<ul>
										<li><a href="candidates_my_resume.html" title="">Candidates Resume</a></li>
										<li><a href="candidates_my_resume_add_new.html" title="">Candidates Resume new</a></li>
										<li><a href="candidates_profile.html" title="">Candidates Profile</a></li>
										<li><a href="candidates_shortlist.html" title="">Candidates Shortlist</a></li>
										<li><a href="candidates_job_alert.html" title="">Candidates Job Alert</a></li>
										<li><a href="candidates_dashboard.html" title="">Candidates Dashboard</a></li>
										<li><a href="candidates_cv_cover_letter.html" title="">CV Cover Letter</a></li>
										<li><a href="candidates_change_password.html" title="">Change Password</a></li>
										<li><a href="candidates_applied_jobs.html" title="">Candidates Applied Jobs</a></li>
									</ul>
								</li> -->
							</ul>
						</li>
						<!-- <li class="menu-item-has-children">
							<a href="#" title="">Blog</a>
							<ul>
								<li><a href="blog_list.html"> Blog List 1</a></li>
								<li><a href="blog_list2.html">Blog List 2</a></li>
								<li><a href="blog_list3.html">Blog List 3</a></li>
								<li><a href="blog_single.html">Blog Single</a></li>
							</ul>
						</li> -->
						<!-- <li class="menu-item-has-children">
							<a href="#" title="">Job</a>
							<ul>
								<li><a href="job_list_classic.html">Job List Classic</a></li>
								<li><a href="job_list_grid.html">Job List Grid</a></li>
								<li><a href="job_list_modern.html">Job List Modern</a></li>
								<li><a href="job_single1.html">Job Single 1</a></li>
								<li><a href="job_single2.html">Job Single 2</a></li>
								<li><a href="job-single3.html">Job Single 3</a></li>
							</ul>
            </li> -->
             <li><a [routerLink]="['/contactUs']" routerLinkActive="router-link-active"  title="">Contact Us</a></li>
             <li><a [routerLink]="['aboutUs']" routerLinkActive="router-link-active"  title="">About Us</a></li>
						<!--<li class="menu-item-has-children">
							<a href="#" title="">Pages</a>
							<ul>

								<li><a href="404.html" title="">404 Error</a></li>
								<li><a href="contact.html" title="">Contact Us 1</a></li>
								<li><a href="faq.html" title="">FAQ's</a></li>
								<li><a href="how_it_works.html" title="">How it works</a></li>
								<li><a href="login.html" title="">Login</a></li>
								<li><a href="pricing.html" title="">Pricing Plans</a></li>
								<li><a href="register.html" title="">Register</a></li>
								<li><a href="terms_and_condition.html" title="">Terms & Condition</a></li>
							</ul>
						</li> -->
					</ul>
				</nav><!-- Menus -->
			</div>
		</div>
	</header>




	<section>
		<div class="block no-padding">
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="main-featured-sec">
							<ul class="main-slider-sec text-arrows">
								<li class="slideHome"><img src="../../assets/uitemplate/images/resource/mslider3.jpg" alt="" /></li>
								<!-- <li class="slideHome"><img src="../../assets/uitemplate/images/resource/mslider2.jpg" alt="" /></li>
								<li class="slideHome"><img src="../../assets/uitemplate/images/resource/mslider1.jpg" alt="" /></li> -->
							</ul>
							<div class="job-search-sec">
								<div class="job-search">
									<h3 >The Easiest Way to Get Your New Job</h3>
									<span>Find Jobs, Employment & Career Opportunities</span>
									<form>
										<div class="row">
											<div class="col-lg-7 col-md-5 col-sm-12 col-xs-12">
												<div class="job-field">
													<input name="fieldn"  [(ngModel)]="field" type="text" placeholder="Job title, keywords or company name &nbsp;&nbsp;" />
													<i class="la la-keyboard-o"></i>
												</div>
											</div>
											<!-- <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
												<div class="job-field">
													<select data-placeholder="City, province or region" class="chosen-city">
														<option>Istanbul</option>
														<option>New York</option>
														<option>London</option>
														<option>Russia</option>
													</select>
													<i class="la la-map-marker"></i>
												</div>
											</div> -->
											<div class="col-lg-1 col-md-2 col-sm-12 col-xs-12">
												<button href="#showj"  (click)="CompanyField()" type="submit"><i class="la la-search"></i></button>
											</div>
										</div>
									</form>
									<!-- <div class="or-browser">
										<span>Browse job offers by</span>
										<a href="#" title="">Category</a>
									</div> -->
								</div>
							</div>
							<div class="scroll-to">
								<a href="#scroll-here" title=""><i class="la la-arrow-down"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

  <div  class="emply-list"  *ngFor="let item of rec_by_field" (click)="jobpage(item.job_id)">
    <div class="emply-list-thumb">
      <a href="#" title=""><img src="http://localhost:3000/images/recPhotoes/{{item.rec_photo}}" alt="" /></a>
    </div>
    <div class="emply-list-info" *ngIf="rec_by_field.length>0" id="shoj">
      <div class="emply-pstn"></div>
      <h3><a href="#" title="">{{item.job_title}}</a></h3>
      <span></span>
      <span>{{item.posted_date}}</span>
      <h6><a>{{item.salary_min}}-{{item.salary_max}}</a> </h6>
      <p>{{item.job_desc}}</p>
		</div>
		<h3 *ngIf="rec_by_field.length==0">No Job Find</h3>
  </div>


	<section id="scroll-here">
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading">
							<h2>Popular Categories</h2>
							<!-- <span>37 jobs live - 0 added today.</span> -->
						</div><!-- Heading -->
						<div class="cat-sec">
							<div class="row no-gape">
								<div class="col-lg-3 col-md-3 col-sm-6" *ngFor="let item of company_type" (click)="onRecPage(item.company_type)" >									<div class="p-category">
										<a  title="">
											<i class="la la-bullhorn"></i>
											<span>{{item.company_type}}</span>
											<!-- <p>(22 open positions)</p> -->
										</a>
									</div>
								</div>
								<!-- <div class="col-lg-3 col-md-3 col-sm-6">
									<div class="p-category">
										<a href="#" title="">
											<i class="la la-graduation-cap"></i>
											<span>Education Training</span>
											<p>(6 open positions)</p>
										</a>
									</div>
								</div> -->
								<!-- <div class="col-lg-3 col-md-3 col-sm-6">
									<div class="p-category">
										<a href="#" title="">
											<i class="la la-line-chart "></i>
											<span>Accounting / Finance</span>
											<p>(3 open positions)</p>
										</a>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="p-category">
										<a href="#" title="">
											<i class="la la-users"></i>
											<span>Human Resource</span>
											<p>(3 open positions)</p>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="cat-sec">
							<div class="row no-gape">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="p-category">
										<a href="#" title="">
											<i class="la la-phone"></i>
											<span>Telecommunications</span>
											<p>(22 open positions)</p>
										</a>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="p-category">
										<a href="#" title="">
											<i class="la la-cutlery"></i>
											<span>Restaurant / Food Service</span>
											<p>(6 open positions)</p>
										</a>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="p-category">
										<a href="#" title="">
											<i class="la la-building"></i>
											<span>Construction / Facilities</span>
											<p>(3 open positions)</p>
										</a>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="p-category">
										<a href="#" title="">
											<i class="la la-user-md"></i>
											<span>Health</span>
											<p>(3 open positions)</p>
										</a>
									</div>
								</div> -->
							</div>
						</div>
					</div>
					<!-- <div class="col-lg-12">
						<div class="browse-all-cat">
							<a href="#" title="">Browse All Categories</a>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block double-gap-top double-gap-bottom">
			<div data-velocity="-.1" style="background: url(../../assets/uitemplate/images/resource/parallax1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible layer color"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="simple-text-block">
							<h3>Make a Difference with Your Online Resume!</h3>
							<span>Your resume in minutes with JobHunt resume assistant is ready!</span>
							<a class="signup-popup" title="">Create an Account</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

  <section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading">
							<h2>Companies We've Helped</h2>
							<span>Some of the companies we've helped recruit excellent applicants over the years.</span>
						</div><!-- Heading -->
						<div class="comp-sec">
							<div class="company-img">
								<a href="#" title=""><img src="../../assets/uitemplate/images/resource/cc1.jpg" alt="" /></a>
							</div><!-- Client  -->
							<div class="company-img">
								<a href="#" title=""><img src="../../assets/uitemplate/images/resource/cc2.jpg" alt="" /></a>
							</div><!-- Client  -->
							<div class="company-img">
								<a href="#" title=""><img src="../../assets/uitemplate/images/resource/cc3.jpg" alt="" /></a>
							</div><!-- Client  -->
							<div class="company-img">
								<a href="#" title=""><img src="../../assets/uitemplate/images/resource/cc4.jpg" alt="" /></a>
							</div><!-- Client  -->
							<div class="company-img">
								<a href="#" title=""><img src="../../assets/uitemplate/images/resource/cc5.jpg" alt="" /></a>
							</div><!-- Client  -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<section>
		<div class="block">
			<div data-velocity="-.1" style="background: url(../../assets/uitemplate/images/resource/parallax2.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible layer color light"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading light">
							<h2>Kind Words From Happy Candidates</h2>
							<span>What other people thought about the service provided by JobHunt</span>
						</div><!-- Heading -->
						<div class="reviews-sec" id="reviews-carousel">

							<div class="col-lg-6">
								<div class="reviews">
									<img src="../../assets/uitemplate/images/resource/r1.jpg" alt="" />
									<h3>Augusta Silva <span>Web designer</span></h3>
									<p>Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything!  Can’t quite believe the service</p>
								</div><!-- Reviews -->
							</div>
							<div class="col-lg-6">
								<div class="reviews">
									<img src="../../assets/uitemplate/images/resource/r2.jpg" alt="" />
									<h3>Ali Tufan <span>Web designer</span></h3>
									<p>Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything!  Can’t quite believe the service</p>
                </div><!-- Reviews -->

              </div>
              <div class="col-lg-6">
								<div class="reviews">
									<img src="../../assets/uitemplate/images/resource/r1.jpg" alt="" />
									<h3>Augusta Silva <span>Web designer</span></h3>
									<p>Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything!  Can’t quite believe the service</p>
								</div><!-- Reviews -->
							</div>
              <div class="col-lg-6">
								<div class="reviews">
									<img src="../../assets/uitemplate/images/resource/r2.jpg" alt="" />
									<h3>Ali Tufan <span>Web designer</span></h3>
									<p>Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything!  Can’t quite believe the service</p>
                </div><!-- Reviews -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading">
							<h2>How It Works</h2>
							<span>Each month, more than 7 million Jobhunt turn to website in their search for work, making over <br />160,000 applications every day.
							</span>
						</div><!-- Heading -->
						<div class="how-to-sec">
							<div class="how-to">
								<span class="how-icon"><i class="la la-user"></i></span>
								<h3>Register an account</h3>
								<p>Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
							</div>
							<div class="how-to">
								<span class="how-icon"><i class="la la-file-archive-o"></i></span>
								<h3>Specify & search your job</h3>
								<p>Browse profiles, reviews, and proposals then interview top candidates. </p>
							</div>
							<div class="how-to">
								<span class="how-icon"><i class="la la-list"></i></span>
								<h3>Apply for job</h3>
								<p>Use the Upwork platform to chat, share files, and collaborate from your desktop or on the go.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="block no-padding">
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="simple-text">
							<h3>Gat a question?</h3>
							<span>We're here to help. Check out our FAQs, send us an email or call us at +91-8141200284</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<app-footer></app-footer>

</div>

<div class="account-popup-area signin-popup-box">
	<div class="account-popup">
		<span class="close-popup"><i class="la la-close"></i></span>
		<h3>Login Here</h3>
		<!-- <span>Click To Login With Demo User</span> -->
		<div class="select-user">
			<span (click)="empLogCall()">

        Candidate</span>
			<span (click)="recLogCall()">
         Employer
        </span>
		</div>
		<form>
			<div class="cfield">
				<input id='email'  type="email" maxlength="30" required  [(ngModel)]="username" placeholder="Username" name="username"/>
        <!-- <input matInput placeholder="Email" [formControl]="emailFormControl"> -->
        <i class="la la-user"></i>
			</div>
			<div class="cfield">
				<input (onkeypress)="key()"  type="password" [(ngModel)]="password" placeholder="********" name="password" />
        <!-- <i style="margin-right: 30px;">{{password.length}}/8</i> -->
        <i class="la la-key"></i>
			</div>
			<p class="remember-label">
				<!-- <input type="checkbox" name="cb" id="cb1"><label for="cb1">Remember me</label> -->
			</p>
      <a title="" (click)="onemail()">Forgot Password?</a>

      <button (click)="OnLogin()" type="submit">Login</button>
      <a class="signup-popup">Not Register?</a>
		</form>
		<!-- <div class="extra-login">
			<span>Or</span>
			<div class="login-social">
        <a class="fb-login"  scope="public_profile,email"     onlogin="checkLoginState();" href="#" title=""><i class="fa fa-facebook"></i></a>

        <a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
			</div>
		</div> -->
	</div>
</div><!-- LOGIN POPUP -->

<div class="account-popup-area signup-popup-box">
	<div class="account-popup">
		<span class="close-popup"><i class="la la-close"></i></span>
		<h3>Who Are You?</h3>
		<div class="select-user">
			<span (click)="onClickCandidate()">Candidate</span>
			<span (click)="onClickCompany()">Employer</span>
		</div>
		<!-- <form>
			<div class="cfield">
				<input type="text" placeholder="Username" />
				<i class="la la-user"></i>
			</div>
			<div class="cfield">
				<input type="password" placeholder="********" />
				<i class="la la-key"></i>
			</div>
			<div class="cfield">
				<input type="text" placeholder="Email" />
				<i class="la la-envelope-o"></i>
			</div>
			<div class="dropdown-field">
				<select data-placeholder="Please Select Specialism" class="chosen">
					<option>Web Development</option>
					<option>Web Designing</option>
					<option>Art & Culture</option>
					<option>Reading & Writing</option>
				</select>
			</div>
			<div class="cfield">
				<input type="text" placeholder="Phone Number" />
				<i class="la la-phone"></i>
			</div>
			<button type="submit">Signup</button>
		</form>
		<div class="extra-login">
			<span>Or</span>
			<div class="login-social">
				<a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
				<a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
			</div>
		</div> -->
	</div>
</div><!-- SIGNUP POPUP -->
<!--
<script>
  $(document).on('click', '#sbar', function() {
      $("#showj").click();
  });
</script> -->
