
<app-header-rec></app-header-rec>

<section class="overlape">
  <div class="block no-padding">
    <div data-velocity="-.1" style="background: url(../../assets/uitemplate/images/resource/mslider1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
    <div class="container fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner-header">
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <!-- <div class="text-socail">
                    <a href="#" title=""><i class="fa fa-facebook"></i></a>
                    <a href="#" title=""><i class="fa fa-twitter"></i></a>
                    <a href="#" title=""><i class="fa fa-instagram"></i></a>
                    <a href="#" title=""><i class="fa fa-pinterest"></i></a>
                    <a href="#" title=""><i class="la la-dribbble"></i></a>
                    <a href="#" title=""><i class="la la-google"></i></a>
                  </div> -->
                </div>
                <div class="col-lg-6">
                  <div class="action-inner style2">
                    <div class="download-cv">
                        <!-- <a title="" >logout</a> -->
                      <!-- <a href="#" title="">Download CV <i class="la la-download"></i></a> -->

                     </div>
                    <a href="#" title=""><i class="la la-map-marker"></i>{{city}} / {{state}} / {{country}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="overlape">
  <div class="block remove-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="cand-single-user">
            <div class="share-bar circle"></div>
             <div class="can-detail-s">
               <div class="cst"><img src="http://localhost:3000/images/empPhotoes/{{emp_photo}}" alt="" /></div>
               <h3>{{first_name}} {{last_name}}</h3>
               <span><i>{{emp_skill1}} /  {{emp_skill2}}</i> at Atract Solutions</span>
               <p><a href="https://grandetest.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="accfdec9cdd8c5dac9c0cdd5c9dedf9c9494eccbc1cdc5c082cfc3c1">[email&#160;protected]</a></p>
               <p>Member Since, 2017</p>
               <p><i class="la la-map-marker"></i>{{city}}/{{state}}/{{country}}</p>
               <div class="skills-badge">
                 <span>{{emp_skill1}}</span><span>  {{emp_skill2}}</span>
               </div>
             </div>
             <div class="download-cv"></div>
           </div>
           <div class="cand-details-sec">
             <div class="row no-gape">
               <div class="col-lg-9 column">
                 <div class="cand-details">
                   <div class="job-overview style2">
                     <ul>
                       <!-- <li><i class="la la-money"></i><h3>Offerd Salary</h3><span>35,000 - 20,00,00</span></li> -->
                       <li><i class="la la-mars-double"></i><h3>Gender</h3><span>{{Gender}}</span></li>
                       <li><i class="la la-thumb-tack"></i><h3>Career Level</h3><span>Executive</span></li>
                       <li><i class="la la-puzzle-piece"></i><h3>Industry</h3><span>{{emp_field}}</span></li>
                       <li><i class="la la-shield"></i><h3>Experience</h3><span>{{emp_exp}} Years</span></li>
                       <li><i class="la la-line-chart "></i><h3>Qualification</h3><span>Bachelor Degree</span></li>
                     </ul>
                   </div><!-- Job Overview -->
                   <h2 id="can">Candidates About</h2>
                   <p>{{emp_desc}}</p>
                   <div class="edu-history-sec">
                     <h2>Education</h2>
                     <div class="edu-history">
                       <i class="la la-graduation-cap"></i>
                       <div class="edu-hisinfo">
                         <h3 id="uni">{{emp_uni}}    University</h3>
                         <i>{{emp_passing_year}}</i>
                         <!-- <span>Middle East Technical University <i>{{emp_qual}}</i></span> -->
                         <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p> -->
                       </div>
                     </div>
                   </div>
                   <!-- <div class="mini-portfolio">
                     <h2>Portfolio</h2>
                     <div class="mp-row">
                       <div class="mp-col">
                         <div class="mportolio"><img src="../../assets/uitemplate/images/resource/p1.jpg" alt="" /><a href="#" title=""><i class="la la-search"></i></a></div>
                       </div>
                       <div class="mp-col">
                         <div class="mportolio"><img src="../../assets/uitemplate/images/resource/p2.jpg" alt="" /><a href="#" title=""><i class="la la-search"></i></a></div>
                       </div>
                       <div class="mp-col">
                         <div class="mportolio"><img src="../../assets/uitemplate/images/resource/p3.jpg" alt="" /><a href="#" title=""><i class="la la-search"></i></a></div>
                       </div>
                       <div class="mp-col">
                         <div class="mportolio"><img src="../../assets/uitemplate/images/resource/p4.jpg" alt="" /><a href="#" title=""><i class="la la-search"></i></a></div>
                       </div>
                     </div>
                   </div> -->
                   <!-- <div class="progress-sec">
                     <h2>Professional Skills</h2>
                     <div class="progress-sec style2">
                       <span>Adobe Photoshop</span>
                       <div class="progressbar"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
                         <div class="progress"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
                       </div>
                       <p>80%</p>
                     </div>
                     <div class="progress-sec style2">
                       <span>Production In Html</span>
                       <div class="progressbar"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
                         <div class="progress"><i></i><i></i><i></i><i></i><i></i></div>
                       </div>
                       <p>50%</p>
                     </div>
                     <div class="progress-sec style2">
                       <span>Graphic Design</span>
                       <div class="progressbar"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
                         <div class="progress"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
                       </div>
                       <p>100%</p>
                     </div>
                   </div> -->
                   <!-- <div class="edu-history-sec">
                     <h2>Awards</h2>
                     <div class="edu-history style2">
                       <i></i>
                       <div class="edu-hisinfo">
                         <h3>Perfect Attendance Programs</h3>
                         <i>2008 - 2012</i>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                       </div>
                     </div>
                     <div class="edu-history style2">
                       <i></i>
                       <div class="edu-hisinfo">
                         <h3>Top Performer Recognition</h3>
                         <i>2008 - 2012</i>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                       </div>
                     </div>
                     <div class="edu-history style2">
                       <i></i>
                       <div class="edu-hisinfo">
                         <h3>King LLC</h3>
                         <i>2008 - 2012</i>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                       </div>
                     </div>
                   </div> -->
                   <div class="companyies-fol-sec">
                     <h2>Companies Followed By</h2>
                     <div class="cmp-follow">
                       <div class="row">
                         <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                           <a href="#" title=""><img src="images/resource/em1.jpg" alt="" /><span>King LLC</span></a>
                         </div>
                         <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                           <a href="#" title=""><img src="images/resource/em2.jpg" alt="" /><span>Telimed</span></a>
                         </div>
                         <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                           <a href="#" title=""><img src="images/resource/em3.jpg" alt="" /><span>Ucesas</span></a>
                         </div>
                         <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                           <a href="#" title=""><img src="images/resource/em4.jpg" alt="" /></a>
                         </div>
                         <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                           <a href="#" title=""><img src="images/resource/em5.jpg" alt="" /><span>Cubico</span></a>
                         </div>
                         <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                           <a href="#" title=""><img src="images/resource/em6.jpg" alt="" /><span>Airbnb</span></a>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
               <div class="col-lg-3 column">
                 <div class="job-overview style3">
                    <div class="col-lg-9">
                        <!-- <img src="http://localhost:3000/cv/{{emp_photo}}"> -->
                          <a target="_blank" href="http://localhost:3000/cv/{{cv_name}}" class="apply-thisjob" (click)="onviewcv()" title=""><i class="la la-paper-plane"></i>View CV</a>
                    </div>
                   <ul>
                     <li><i class="la la-briefcase" href="#can"></i><h3>Candidates About</h3></li>
                     <li><i class="la la-graduation-cap" href="#uni"></i><h3>Education</h3></li>
                     <li><i class="la la-file-text"></i><h3>Work Experience</h3></li>

                     <li><i class="la la-user "></i><h3>Companies Followed By</h3></li>
                   </ul>
                   <!-- <a href="#" title="" class="save-resume">Save Resume</a>
                   <a href="#" title="" class="contct-user">Contact David</a> -->
                 </div><!-- Job Overview -->
               </div>
             </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
