<div class="responsive-header">
  <div class="responsive-menubar">
    <div class="res-logo"><a  title=""><img src="../../assets/uitemplate/images/resource/logo.png" alt="" /></a></div>
    <div class="menu-resaction">
      <div class="res-openmenu">
        <img src="../../assets/uitemplate/images/icon.png" alt="" /> Menu
      </div>
      <div class="res-closemenu">
        <img src="../../assets/uitemplate/images/icon2.png" alt="" /> Close
      </div>
    </div>
  </div>
  <div class="responsive-opensec">
    <div class="btn-extars">
      <!-- <a href="#" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a> -->
      <ul class="account-btns">
        <li class="signup-popup"><a title=""><i class="la la-key"></i> Sign Up</a></li>
        <li class="signin-popup"><a title=""><i class="la la-external-link-square"></i> Login</a></li>
      </ul>
    </div><!-- Btn Extras -->
    <form class="res-search">
      <input type="text" placeholder="Job title, keywords or company name" />
      <button type="submit"><i class="la la-search"></i></button>
    </form>
    <div class="responsivemenu">
      <ul>
          <li class="menu-item-has-children">
            <a [routerLink]="['']" routerLinkActive="router-link-active" title="">Home</a>

          </li>
          <li class="menu-item-has-children">
            <a title="">Employers</a>
            <ul>
              <li><a [routerLink]="['/browseallcompany']" routerLinkActive="router-link-active"  title=""> all companies</a></li>
              <!-- <li><a href="employer_list2.html" title="">Employer Li</a></li>
              <li><a href="employer_list3.html" title="">Employer List 3</a></li>
              <li><a href="employer_list4.html" title="">Employer List 4</a></li>
              <li><a href="employer_single1.html" title="">Employer Single 1</a></li>
              <li><a href="employer_single2.html" title="">Employer Single 2</a></li>
              <li class="menu-item-has-children">
                <a href="#" title="">Employer Dashboard</a>
                <ul>
                  <li><a href="employer_manage_jobs.html" title="">Employer Job Manager</a></li>
                  <li><a href="employer_packages.html" title="">Employer Packages</a></li>
                  <li><a href="employer_post_new.html" title="">Employer Post New</a></li>
                  <li><a href="employer_profile.html" title="">Employer Profile</a></li>
                  <li><a href="employer_resume.html" title="">Employer Resume</a></li>
                  <li><a href="employer_transactions.html" title="">Employer Transaction</a></li>
                  <li><a href="employer_job_alert.html" title="">Employer Job Alert</a></li>
                  <li><a href="employer_change_password.html" title="">Employer Change Password</a></li>
                </ul>
              </li> -->
            </ul>
          </li>
          <li class="menu-item-has-children">
            <a title="">Candidates</a>
            <ul>
              <li><a [routerLink]="['/allcandidates']" routerLinkActive="router-link-active"  title="">Our candidates</a></li>
              <!-- <li><a href="candidates_list2.html" title="">Candidates List 2</a></li>
              <li><a href="candidates_list3.html" title="">Candidates List 3</a></li>
              <li><a href="candidates_single.html" title="">Candidates Single 1</a></li>
              <li><a href="candidates_single2.html" title="">Candidates Single 2</a></li>
              <li class="menu-item-has-children">
                <a href="#" title="">Candidates Dashboard</a>
                <ul>
                  <li><a href="candidates_my_resume.html" title="">Candidates Resume</a></li>
                  <li><a href="candidates_my_resume_add_new.html" title="">Candidates Resume new</a></li>
                  <li><a href="candidates_profile.html" title="">Candidates Profile</a></li>
                  <li><a href="candidates_shortlist.html" title="">Candidates Shortlist</a></li>
                  <li><a href="candidates_job_alert.html" title="">Candidates Job Alert</a></li>
                  <li><a href="candidates_dashboard.html" title="">Candidates Dashboard</a></li>
                  <li><a href="candidates_cv_cover_letter.html" title="">CV Cover Letter</a></li>
                  <li><a href="candidates_change_password.html" title="">Change Password</a></li>
                  <li><a href="candidates_applied_jobs.html" title="">Candidates Applied Jobs</a></li>
                </ul>
              </li> -->
            </ul>
          </li>
          <!-- <li class="menu-item-has-children">
            <a href="#" title="">Blog</a>
            <ul>
              <li><a href="blog_list.html"> Blog List 1</a></li>
              <li><a href="blog_list2.html">Blog List 2</a></li>
              <li><a href="blog_list3.html">Blog List 3</a></li>
              <li><a href="blog_single.html">Blog Single</a></li>
            </ul>
          </li> -->
          <!-- <li class="menu-item-has-children">
            <a  title="">Job</a>
            <ul>
              <li><a href="job_list_classic.html">Job List Classic</a></li>
              <li><a href="job_list_grid.html">Job List Grid</a></li>
              <li><a href="job_list_modern.html">Job List Modern</a></li>
              <li><a href="job_single1.html">Job Single 1</a></li>
              <li><a href="job_single2.html">Job Single 2</a></li>
              <li><a href="job-single3.html">Job Single 3</a></li>
            </ul>
          </li> -->
          <li><a [routerLink]="['/contactUs']" routerLinkActive="router-link-active"  title="">Contact Us</a></li>
          <li><a [routerLink]="['aboutUs']" routerLinkActive="router-link-active"  title="">About Us</a></li>
          <!-- <li class="menu-item-has-children">
            <a href="#" title="">Pages</a>
            <ul>

              <li><a href="404.html" title="">404 Error</a></li>
              <li><a href="contact.html" title="">Contact Us 1</a></li>
              <li><a href="faq.html" title="">FAQ's</a></li>
              <li><a href="how_it_works.html" title="">How it works</a></li>
              <li><a href="login.html" title="">Login</a></li>
              <li><a href="pricing.html" title="">Pricing Plans</a></li>
              <li><a href="register.html" title="">Register</a></li>
              <li><a href="terms_and_condition.html" title="">Terms & Condition</a></li>
            </ul>
          </li> -->
        </ul>
    </div>
  </div>
</div>

<header class="stick-top forsticky">
  <div class="menu-sec">
    <div class="container">
      <div class="logo">
        <a  title=""><img class="hidesticky" src="../../assets/uitemplate/images/resource/logo.png" alt="" /><img class="showsticky" src="../../assets/uitemplate/images/resource/logo10.png" alt="" /></a>
      </div><!-- Logo -->
      <div class="btn-extars">
        <a  routerLinkActive="router-link-active"  title="" class="post-job-btn signin-popup"><i class="la la-plus"></i>Post Jobs</a>
        <ul class="account-btns">
          <li class="signup-popup"><a title=""><i class="la la-key"></i> Sign Up</a></li>
          <li class="signin-popup"><a title=""><i class="la la-external-link-square"></i> Login</a></li>
        </ul>
      </div><!-- Btn Extras -->
      <nav>
        <ul>
          <li>
            <a [routerLink]="['']" routerLinkActive="router-link-active" title="">Home</a>

          </li>
          <li class="menu-item-has-children">
            <a  title="">Employers</a>
            <ul>
              <li><a [routerLink]="['/browseallcompany']" routerLinkActive="router-link-active"  title="">allcompany</a></li>
               <!-- <li><a [routerLink]="['/recruiter-profile']" routerLinkActive="router-link-active"  title="">Employer List 2</a></li> -->
              <!--<li><a href="employer_list3.html" title="">Employer List 3</a></li>
              <li><a href="employer_list4.html" title="">Employer List 4</a></li>
              <li><a href="employer_single1.html" title="">Employer Single 1</a></li>
              <li><a href="employer_single2.html" title="">Employer Single 2</a></li>
              <li class="menu-item-has-children">
                <a href="#" title="">Employer Dashboard</a>
                <ul>
                  <li><a href="employer_manage_jobs.html" title="">Employer Job Manager</a></li>
                  <li><a href="employer_packages.html" title="">Employer Packages</a></li>
                  <li><a href="employer_post_new.html" title="">Employer Post New</a></li>
                  <li><a href="employer_profile.html" title="">Employer Profile</a></li>
                  <li><a href="employer_resume.html" title="">Employer Resume</a></li>
                  <li><a href="employer_transactions.html" title="">Employer Transaction</a></li>
                  <li><a href="employer_job_alert.html" title="">Employer Job Alert</a></li>
                  <li><a href="employer_change_password.html" title="">Employer Change Password</a></li>
                </ul>
              </li> -->
            </ul>
          </li>
          <li class="menu-item-has-children">
            <a title="">Candidates</a>
            <ul>
              <li><a [routerLink]="['/allcandidates']" routerLinkActive="router-link-active" title="">Our candidates</a></li>
               <!-- <li><a [routerLink]="['/employee-profile']" routerLinkActive="router-link-active"  title="">Candidates List 2</a></li> -->
              <!--<li><a href="candidates_list3.html" title="">Candidates List 3</a></li>
              <li><a href="candidates_single.html" title="">Candidates Single 1</a></li>
              <li><a href="candidates_single2.html" title="">Candidates Single 2</a></li>
              <li class="menu-item-has-children">
                <a href="#" title="">Candidates Dashboard</a>
                <ul>
                  <li><a href="candidates_my_resume.html" title="">Candidates Resume</a></li>
                  <li><a href="candidates_my_resume_add_new.html" title="">Candidates Resume new</a></li>
                  <li><a href="candidates_profile.html" title="">Candidates Profile</a></li>
                  <li><a href="candidates_shortlist.html" title="">Candidates Shortlist</a></li>
                  <li><a href="candidates_job_alert.html" title="">Candidates Job Alert</a></li>
                  <li><a href="candidates_dashboard.html" title="">Candidates Dashboard</a></li>
                  <li><a href="candidates_cv_cover_letter.html" title="">CV Cover Letter</a></li>
                  <li><a href="candidates_change_password.html" title="">Change Password</a></li>
                  <li><a href="candidates_applied_jobs.html" title="">Candidates Applied Jobs</a></li>
                </ul>
              </li> -->
            </ul>
          </li>
          <!-- <li class="menu-item-has-children">
            <a href="#" title="">Blog</a>
            <ul>
              <li><a href="blog_list.html"> Blog List 1</a></li>
              <li><a href="blog_list2.html">Blog List 2</a></li>
              <li><a href="blog_list3.html">Blog List 3</a></li>
              <li><a href="blog_single.html">Blog Single</a></li>
            </ul>
          </li> -->
          <!-- <li class="menu-item-has-children">
            <a href="#" title="">Job</a>
            <ul>
              <li><a href="job_list_classic.html">Job List Classic</a></li>
              <li><a href="job_list_grid.html">Job List Grid</a></li>
              <li><a href="job_list_modern.html">Job List Modern</a></li>
              <li><a href="job_single1.html">Job Single 1</a></li>
              <li><a href="job_single2.html">Job Single 2</a></li>
              <li><a href="job-single3.html">Job Single 3</a></li>
            </ul>
          </li> -->
           <li><a [routerLink]="['/contactUs']" routerLinkActive="router-link-active"  title="">Contact Us</a></li>
           <li><a [routerLink]="['aboutUs']" routerLinkActive="router-link-active"  title="">About Us</a></li>
          <!--<li class="menu-item-has-children">
            <a href="#" title="">Pages</a>
            <ul>

              <li><a href="404.html" title="">404 Error</a></li>
              <li><a href="contact.html" title="">Contact Us 1</a></li>
              <li><a href="faq.html" title="">FAQ's</a></li>
              <li><a href="how_it_works.html" title="">How it works</a></li>
              <li><a href="login.html" title="">Login</a></li>
              <li><a href="pricing.html" title="">Pricing Plans</a></li>
              <li><a href="register.html" title="">Register</a></li>
              <li><a href="terms_and_condition.html" title="">Terms & Condition</a></li>
            </ul>
          </li> -->
        </ul>
      </nav><!-- Menus -->
    </div>
  </div>
</header>

<section class="overlape">
  <div class="block no-padding">
    <div data-velocity="-.1" style="background: url(../../assets/uitemplate/images/resource/mslider1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
    <div class="container fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner-header">
            <h3>Welcome {{company_name}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="block">
    <div class="container">
      <div class="row">
         <div class="col-lg-12 column">
           <div class="job-single-sec style3">
             <div class="job-head-wide">
               <div class="row">
                 <div class="col-lg-10">
                   <div class="job-single-head3 emplye">
                     <div class="job-thumb"> <img src="http://localhost:3000/images/recPhotoes/{{rec_photo}}" alt="" /></div>
                     <div class="job-single-info3">
                       <h3>{{company_name}}</h3>
                       <span><i class="la la-map-marker"></i>{{adderess}}</span>
                       <!-- <span class="job-is ft"></span> -->
                       <!-- <ul class="tags-jobs">
                         <li><i class="la la-file-text"></i> Applications 1</li>
                         <li><i class="la la-calendar-o"></i> Post Date: July 29, 2017</li>
                         <li><i class="la la-eye"></i> Views 5683</li>
                       </ul> -->
                     </div>
                   </div><!-- Job Head -->
                 </div>
                 <!-- <div class="col-lg-2">
                   <div class="share-bar">
                     <a href="#" title="" class="share-google"><i class="la la-google"></i></a><a href="#" title="" class="share-fb"><i class="fa fa-facebook"></i></a><a href="#" title="" class="share-twitter"><i class="fa fa-twitter"></i></a>
                   </div>
                   <div class="emply-btns">
                     <a class="seemap" href="#" title=""><i class="la la-map-marker"></i> See On Map</a>
                     <a class="followus" href="#" title=""><i class="la la-paper-plane"></i> Follow us</a>
                   </div>
                 </div> -->
               </div>
             </div>
             <div class="job-wide-devider">
               <div class="row">
                 <div class="col-lg-8 column">
                   <div class="job-details">
                     <h3>About Business Network</h3>
                     <p>{{com_desc}}</p>
                   </div>
                   <!-- <div class="recent-jobs">
                     <h3>Jobs from Business Network</h3>
                     <div class="job-list-modern">
                       <div class="job-listings-sec no-border">
                        <div class="job-listing wtabs noimg">
                          <div class="job-title-sec">
                            <h3><a href="#" title="">Web Designer / Developer</a></h3>
                            <span>Massimo Artemisis</span>
                            <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California</div>
                          </div>
                          <div class="job-style-bx">
                            <span class="job-is ft">Full time</span>
                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                            <i>5 months ago</i>
                          </div>
                        </div>
                        <div class="job-listing wtabs noimg">
                          <div class="job-title-sec">
                            <h3><a href="#" title="">C Developer (Senior) C .Net</a></h3>
                            <span>Massimo Artemisis</span>
                            <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California</div>
                          </div>
                          <div class="job-style-bx">
                            <span class="job-is pt ">Part time</span>
                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                            <i>5 months ago</i>
                          </div>
                        </div>
                        Job
                        <div class="job-listing wtabs noimg">
                          <div class="job-title-sec">
                            <h3><a href="#" title="">Regional Sales Manager South</a></h3>
                            <span>Massimo Artemisis</span>
                            <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California</div>
                          </div>
                          <div class="job-style-bx">
                            <span class="job-is ft ">Full time</span>
                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                            <i>5 months ago</i>
                          </div>
                        </div>
                        Job
                        <div class="job-listing wtabs noimg">
                          <div class="job-title-sec">
                            <h3><a href="#" title="">Marketing Dairector</a></h3>
                            <span>Massimo Artemisis</span>
                            <div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California</div>
                          </div>
                          <div class="job-style-bx">
                            <span class="job-is ft ">Full time</span>
                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                            <i>5 months ago</i>
                          </div>
                        </div>
                        Job
                      </div>
                     </div>
                   </div> -->
                 </div>
                 <div class="col-lg-4 column">
                   <div class="job-overview">
                     <h3>Company Information</h3>
                     <ul>
                       <!-- <li><i class="la la-eye"></i><h3>Viewed </h3><span>164</span></li> -->
                       <!-- <li><i class="la la-file-text"></i><h3>Posted Jobs</h3><span>4</span></li> -->
                       <li><i class="la la-map"></i><h3>Locations</h3><span>{{adderess}}, </span></li>
                       <li><i class="la la-bars"></i><h3>Categories</h3><span>{{company_type}}</span></li>
                       <!-- <li><i class="la la-clock-o"></i><h3>Since</h3><span>2002</span></li> -->
                       <!-- <li><i class="la la-users"></i><h3>Team Size</h3><span>15</span></li> -->
                       <!-- <li><i class="la la-user"></i><h3>Followers</h3><span>15</span></li> -->
                     </ul>
                   </div><!-- Job Overview -->
                   <!-- <div class="quick-form-job">
                     <h3>Contact Business Network</h3>
                     <form>
                       <input type="text" placeholder="Enter your Name *" />
                       <input type="text" placeholder="Email Address*" />
                       <input type="text" placeholder="Phone Number" />
                       <textarea placeholder="Message should have more than 50 characters"></textarea>
                       <button class="submit">Send Email</button>
                       <span>You accepts our <a href="#" title="">Terms and Conditions</a></span>
                     </form>
                   </div> -->
                 </div>
               </div>
             </div>
           </div>
         </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>


<div class="account-popup-area signin-popup-box">
<div class="account-popup">
  <span class="close-popup"><i class="la la-close"></i></span>
  <h3>User Login</h3>
  <span>Click To Login With Demo User</span>
  <div class="select-user">
    <span>Candidate</span>
    <span>Employer</span>
  </div>
  <form>
    <div class="cfield">
      <input type="text" placeholder="Username" />
      <i class="la la-user"></i>
    </div>
    <div class="cfield">
      <input type="password" placeholder="********" />
      <i class="la la-key"></i>
    </div>
    <p class="remember-label">
      <input type="checkbox" name="cb" id="cb1"><label for="cb1">Remember me</label>
    </p>
    <a href="#" title="">Forgot Password?</a>
    <button type="submit">Login</button>
  </form>
  <div class="extra-login">
    <span>Or</span>
    <div class="login-social">
      <a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
      <a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</div>
</div><!-- LOGIN POPUP -->

<div class="account-popup-area signup-popup-box">
<div class="account-popup">
  <span class="close-popup"><i class="la la-close"></i></span>
  <h3>Sign Up</h3>
  <div class="select-user">
    <span>Candidate</span>
    <span>Employer</span>
  </div>
  <form>
    <div class="cfield">
      <input type="text" placeholder="Username" />
      <i class="la la-user"></i>
    </div>
    <div class="cfield">
      <input type="password" placeholder="********" />
      <i class="la la-key"></i>
    </div>
    <div class="cfield">
      <input type="text" placeholder="Email" />
      <i class="la la-envelope-o"></i>
    </div>
    <div class="dropdown-field">
      <select data-placeholder="Please Select Specialism" class="chosen">
        <option>Web Development</option>
        <option>Web Designing</option>
        <option>Art & Culture</option>
        <option>Reading & Writing</option>
      </select>
    </div>
    <div class="cfield">
      <input type="text" placeholder="Phone Number" />
      <i class="la la-phone"></i>
    </div>
    <button type="submit">Signup</button>
  </form>
  <div class="extra-login">
    <span>Or</span>
    <div class="login-social">
      <a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
      <a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</div>
</div><!-- SIGNUP POPUP -->
