.signup{
  -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
    border-radius: 6px !important;

    background: darkblue;
    font-family: Open Sans;
    padding: 16px 10px;
    margin: 21px 0;
    width:100%;

}

.signup:hover
{
  background:#fb236a;

}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

